<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Gestion Action Marketing</span></div>
      <div class="col-md-6"><span style="float: right"> Action Marketing&nbsp;&nbsp;</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <button type="button" *ngIf="!affichefilter" style="float: right;background: #79008e !important;" nbButton
          [shape]="'round'" (click)="affichefilter=true"> Afficher plus de critéres de
          recherche</button>&nbsp;&nbsp;
        <button type="button" *ngIf="affichefilter" style="float: right" nbButton status="warning" [shape]="'round'"
          (click)="affichefilter=false"> Cacher les critères de
          recherche</button>&nbsp;&nbsp;
      </div>
    </div>
    <br>
    <fieldset *ngIf="affichefilter">
      <legend>Critéres de recherche</legend>

      <div class="row" style="padding-bottom: 10px;">


        <div class="col-sm-3 ">
          <label class="label">Canal du Diffusion</label><br>
          <nb-select fullWidth placeholder="Default" (selectedChange)="ChoisirCanalDiffusion($event)"
            name="CanalDiffusion" >
            <nb-option value="default">Default </nb-option>
            <nb-option *ngFor="let canal of ListeCanalDiffusion" value="{{canal}}">{{canal}}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-sm-3 ">
          <label class="label">Statut du la'Action</label><br>
          <nb-select fullWidth placeholder="Default" (selectedChange)="ChoisirStatutAction($event)"
            name="CanalDiffusion" >
            <nb-option value=-1>Default </nb-option>
            <nb-option *ngFor="let statut of ListeStatutAction" value="{{statut}}">{{getStatusAction(statut)}}
            </nb-option>
          </nb-select>
        </div>

        </div>
        <div class="row">
          <div class="col-sm-6 ">
            <label class="label">Date Début</label><br>
            <input nbInput fullWidth placeholder="Default" [nbDatepicker]="picker">
            <nb-datepicker (dateChange)="ChoisirDateCreation($event)" #picker></nb-datepicker>
          </div>
          <div class="col-sm-3">
            <button nbButton type="button" status="danger" (click)="clean()"
              style="background: #ff3d71; border-color: white;float:right;  margin-top: 13px; " [shape]="'round'">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>

      
      
    </fieldset>


    
    <p-table  [columns]="cols" [loading]="loading"  [rowsPerPageOptions]="[20,30,50]"  #dta [value]="Actions" [rows]="20" [paginator]="true" [responsive]="true" autoLayout ="true" [globalFilterFields]="['description','dateCreation']">
      <ng-template pTemplate="caption">
        
          <div style="text-align: right">        
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Chercher" (input)="dta.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
          </div>
      </ng-template>  
        <ng-template pTemplate="header">
          <tr>
            <th>Publicité</th>
            
            <th>Periode</th>
            <th>Date de Creation</th>
            <th>Canal</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Action>
          <tr >
            <td>
              <img  *ngIf="Action.typeitem == 0 && Action.canal != 'SMS'"    [src]="Action.url" [alt]="Action.type" width="100" height="100" class="shadow-4" />
              <video preload="none" *ngIf="Action.typeitem == 1 && Action.canal != 'SMS'"  width="150" height="100" controls>
                <source [src]="Action.url" alt="Action.type">
              </video>
              <img *ngIf="Action.canal == 'SMS'" src="../../../assets/images/sms.png" width="100" height="100" alt="image sms"/>
         
             
            </td>
            
            <td> <span class="bold">{{Action.dateDebut |date:'dd/MM/yyyy'}}</span> - <span class="bold">{{Action.dateFin |date:'dd/MM/yyyy'}}</span></td>
            <td><span class="bold">{{Action.dateCreation |date:'dd/MM/yyyy'}}</span></td>
            <td>{{Action.canal}}</td>
            <td>{{getStatusAction(Action.statut)}}</td>
          <td >
            <i  class="fa fa-folder-open cursor buttonround editbutton" routerLink="detailsaction/{{Action.idActionMarketing}}" nbTooltip="Ouvrir action" nbTooltipPlacement="bottom"></i>
          </td>
        </tr>
        </ng-template>
        <ng-template  pTemplate="emptymessage" let-Action>
          <tr>
              <td >
                  <div style="display: flex;
                  justify-content: center;">
                      La liste est vide
                  </div>
                  
              </td>
          </tr>
      </ng-template>
      </p-table>
    

  </nb-card-body>
</nb-card>