<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Dashboard En Temps Réel</span></div>
      <div class="col-md-6"><span style="float: right"> 
        <button type="button" *ngIf="show==true"  style="float: right;width: 130px;" nbButton status="danger" [shape]="'round'"
              (click)="activer()">Activer</button>
              <button type="button" *ngIf="show==false"  style="float: right;width: 130px;" nbButton status="danger" [shape]="'round'"
              (click)="desactiver()">Arréter</button>
              <button type="button" *ngIf="canaldifusion=='SMS'"  style="float: right;width: 130px;" nbButton status="danger" [shape]="'round'"
              (click)="sendSMS()">Envoyer</button>
        
        
        
        &nbsp;&nbsp;</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>

<div class="row">
  <div class="col-xxl-9">
    <div class="chart-container">
      <!-- <ngx-chart-panel-summary [summary]="chartPanelSummar+y"></ngx-chart-panel-summary> -->
      <ngx-chart-panel-header [type]="period"
                              (periodChange)="setPeriodAndGetChartData($event)">
      </ngx-chart-panel-header>
      <ngx-orders-chart *ngIf="ordersChartData" #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
    </div>  </div>
  <div class="col-xxl-3" style="display: flex;align-items: center; justify-content: center;"  *ngIf="!loading">
    <ngx-charts-number-card 
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [cardColor]="cardColor"
  (select)="onSelect($event)"
  [animations]="true"
  >
</ngx-charts-number-card>
  </div>


</div>
<nb-card-header>
    <span>Historique</span>
  </nb-card-header>

  <nb-list class="user-activity-list" style="overflow: auto; max-height: 500px;">
    <nb-list-item *ngFor="let item of historiquesInteractions">

      <div class="visited-date" style="max-width: 20rem;">
        {{ item.date |date:'short'}}
      </div>

      <div class="visited-pages-count" style="text-align:left;">
        <div class="caption">Interaction</div>
        <div class="value">
          <span *ngIf="item.action==1">Clique</span>
          <span *ngIf="item.action==0">Vue</span>
        </div>
      </div>
      <div class="visited-pages-count" style="text-align:left;">
        <div class="caption">Âge</div>
        <div class="value">{{ item.age }}</div>
      </div>

      <div class="visited-percentages" style="text-align:left;">
        <div class="caption">Sexe</div>
        <div class="delta value" [class.up]="item.sexe" [class.down]="!item.sexe">
          <span *ngIf="item.sexe==0">Femme <i class="fa fa-venus"></i></span>
          <span *ngIf="item.sexe==1">Homme <i class="fa fa-mars"></i></span>
        </div>
      </div>

    </nb-list-item>
  </nb-list>
<!---
<head>
  <meta charset="utf-8">
  <title>Spring Boot WebSocket</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div style="color: blue; text-align: center">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div class="container" style="width: 400px; margin-top: 20px;">

    <form class="form-inline">
      <div class="form-group">
        <label for="connect">Make Connection:</label>
        <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connect</button>
        <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">Disconnect</button>
      </div>
    </form>

    <form class="form-inline" style="margin-top: 20px;">
      <div class="form-group">
        <label for="name">User's Name:</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name" />
      </div>
      <button id="send" class="btn btn-default" type="button" (click)="sendName()">Send</button>
    </form>

    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Greetings</th>
        </tr>
      </thead>
      <tbody *ngFor="let greeting of greetings">
        <tr>
          <td>{{greeting}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

-->

</nb-card-body>
</nb-card>
