<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Configuration Générale des Actions Marketing</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
   
    <nb-tabset (changeTab)="getData($event)">
        <nb-tab tabTitle="Gestion des Canaux des diffusions" tabId="canaldiffusion">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div class="" style="text-align: center; margin-top: 8px">
                <button type="button" (click)="ajoutercanal()" style="float: right" class="icon-btn add-btn">
                  <div class="add-icon"></div>
                  <div class="btn-txt">Ajouter une Nouvelle canal de diffusion</div>
                </button>
              </div>
            </div>
          </div>
            <p-table  [loading]="loading" #dtaCanal [value]="canauxDiffusions" [responsive]="true" autoLayout ="true" [globalFilterFields]="['libelle']">
                <ng-template pTemplate="caption">
                  
                    <div style="text-align: right">        
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Chercher" (input)="dtaCanal.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
                      </div>
                </ng-template>  
                  <ng-template pTemplate="header">
                    <tr>
                      <th>libelle</th>
                      <th>Statut</th>
                      <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-Canal>
                    <tr >
                      <td>{{Canal.libelle}}</td>              
                      <td>{{getStatus(Canal.factif)}}</td>
                    <td >
                      <nb-toggle [status]="(Canal.factif==0) ? 'danger' : 'success' " style="margin-left: 10px;" [checked]="Canal.factif" (checkedChange)="ChangeStatusCan(Canal)" style="position:relative; top:11px"></nb-toggle>
                      <i  class="fa fa-trash cursor buttonround deletebutton" nbTooltip="Supprimer Canal" nbTooltipPlacement="bottom" (click)="DeleteCanalDiff(Canal)"></i> 
                    </td>
                  </tr>
                  </ng-template>
                  <ng-template  pTemplate="emptymessage" let-Canal>
                    <tr>
                        <td >
                            <div style="display: flex;
                            justify-content: center;">
                                La liste est vide
                            </div>
                            
                        </td>
                    </tr>
                </ng-template>
                </p-table>
        </nb-tab>
        
        <nb-tab tabTitle="Gestion des populations cibles" tabId="populationCible">
            <p-table  [loading]="loading" #dta [value]="populationsCibles" [responsive]="true" autoLayout ="true" [globalFilterFields]="['libelle']">
                <ng-template pTemplate="caption">
                  
                    <div style="text-align: right">        
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Chercher" (input)="dta.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
                      </div>
                </ng-template>  
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Age</th>
                      <th>Sexe</th>
                      <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-Population>
                    <tr >
                      <td>{{Population.age[0]}} -{{Population.age[1]}} </td>   
                      <td>{{getSexe(Population.sexe)}}</td>
                    <td >
                      <nb-toggle [status]="(Population.factif==0) ? 'danger' : 'success' " style="margin-left: 10px;" [checked]="Population.factif" (checkedChange)="ChangeStatusPop(Population)" style="position:relative; top:11px"></nb-toggle>
                      <i  class="fa fa-trash cursor buttonround deletebutton" nbTooltip="Supprimer Population Cible"(click)="DeletePopulationCible(Population)" nbTooltipPlacement="bottom"></i>
                    </td>
                  </tr>
                  </ng-template>
                  <ng-template  pTemplate="emptymessage" let-Population>
                    <tr>
                        <td >
                            <div style="display: flex;
                            justify-content: center;">
                                La liste est vide
                            </div>
                            
                        </td>
                    </tr>
                </ng-template>
                </p-table>
          </nb-tab>
          <nb-tab tabTitle="Gestion des formats d'affichages" tabId="formatsAffichages">
            <p-table  [loading]="loading" #dta [value]="formatsAffichages" [responsive]="true" autoLayout ="true" [globalFilterFields]="['libelle']">
                <ng-template pTemplate="caption">
                  
                    <div style="text-align: right">        
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Chercher" (input)="dta.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
                    </div>
                </ng-template>  
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Libelle</th>
                      <th>Statut</th>
                      <th>Type d'Affichage</th>
                      <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-Format>
                    <tr >
                      <td>{{Format.libelle}} </td>   
                      <td>{{getStatus(Format.factif)}}</td>
                      <td>{{Format.type}} </td>   
                    <td >
                      <nb-toggle [status]="(Format.factif==0) ? 'danger' : 'success' " style="margin-left: 10px;" [checked]="Format.factif" (checkedChange)="ChangeStatusForm(Format)" style="position:relative; top:11px"></nb-toggle>
                      <i  class="fa fa-trash cursor buttonround deletebutton" nbTooltip="Supprimer Population Cible" nbTooltipPlacement="bottom" (click)="DeleteFormatAffichage(Format)"></i> 
                      
                    </td>
                  </tr>
                  </ng-template>
                  <ng-template  pTemplate="emptymessage" let-Format>
                    <tr>
                        <td >
                            <div style="display: flex;
                            justify-content: center;">
                                La liste est vide
                            </div>
                            
                        </td>
                    </tr>
                </ng-template>
                </p-table>
          </nb-tab>
          <nb-tab tabTitle="Gestion des types d'affichages"tabId="typeAffichage">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="" style="text-align: center; margin-top: 8px">
                  <button type="button" (click)="ajouterTypeAffichage()" style="float: right" class="icon-btn add-btn">
                    <div class="add-icon"></div>
                    <div class="btn-txt">Ajouter une Nouvelle type d'affichage</div>
                  </button>
                </div>
              </div>
            </div>
            <p-table  [loading]="loading" #dtaType [value]="typesAffichages" [responsive]="true" autoLayout ="true" [globalFilterFields]="['libelle']">
              <ng-template pTemplate="caption">
                
                  <div style="text-align: right">        
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Chercher" (input)="dtaType.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
                    </div>
              </ng-template>  
                <ng-template pTemplate="header">
                  <tr>
                    <th>libelle</th>
                    <th>Statut</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Type>
                  <tr >
                    <td>{{Type.libelle}}</td>              
                    <td>{{getStatus(Type.factif)}}</td>
                  <td >
                    <nb-toggle [status]="(Type.factif==0) ? 'danger' : 'success' " style="margin-left: 10px;" [checked]="Type.factif" (checkedChange)="ChangeStatusType(Type)" style="position:relative; top:11px"></nb-toggle>
                    <i  class="fa fa-trash cursor buttonround deletebutton" nbTooltip="Supprimer Type d'Affichage" nbTooltipPlacement="bottom" (click)="DeleteTypeAffichage(Type)"></i> 
                  </td>
                </tr>
                </ng-template>
                <ng-template  pTemplate="emptymessage" let-Type>
                  <tr>
                      <td >
                          <div style="display: flex;
                          justify-content: center;">
                              La liste est vide
                          </div>
                          
                      </td>
                  </tr>
              </ng-template>
              </p-table>
          </nb-tab>
       </nb-tabset>

  </nb-card-body>
</nb-card>