<div class="row" style="height: 85%;
    align-items: center;">
  <div class="col-md-6 offset-md-3">
    <nb-card accent="info" style="max-width: 800px; ">
      <nb-card-header><h3 style="text-align: center"> Veuillez réinitialiser votre mot de passe </h3></nb-card-header>
      <nb-card-body>
        <form [formGroup]="resetPasswordform" (ngSubmit)="onConfirm()">
          <div class="form-group col-md-12 col-sm-12 col-12 remove-padding">
            <label for="oldPassword" class="label labelChange">Ancien mot de passe  <span style="color:red;">*</span></label>
            <input type="password" nbInput fullWidth id="oldPassword"  class="form-control inputChange col-md-12 col-sm-12 col-12" placeholder="Ancien mot de passe" formControlName="oldPassword"  [ngClass]="{'has-error': (isSubmitted && (formControls.oldPassword.errors )) || isChecked}">
            <label *ngIf="isSubmitted && (formControls.oldPassword.errors)" class="label-has-error"><i class="fas fa-exclamation-circle"></i> Veuillez saisir votre ancien mot de passe</label>
          </div>
          <div class="form-group col-md-12 col-sm-12 col-12 remove-padding">

                <label for="password" class="label labelChange">Nouveau mot de passe  <span style="color:red;">*</span></label>
                <input type="password" nbInput fullWidth  class="form-control inputChange col-md-12 col-sm-12 col-12 remove-padding" id="password" name="password" placeholder="Nouveau mot de passe"
                       minlength="5" maxlength="50" formControlName="password"
                       [ngClass]="{'has-error': isSubmitted && (formControls.password.errors )}"
                       (keypress)="onShowPS()"
                       required>
                <ng2-password-strength-bar [passwordToCheck]="resetPasswordform.value.password" [barColors]="myColors"
                                           [barLabel]="barLabel"
                                           [strengthLabels]="strengthLabels"
                                           (onStrengthChanged)="strengthChanged($event)"
                                           *ngIf="isShow"
                                            class="labelChange">
                </ng2-password-strength-bar>
                <label *ngIf="isSubmitted && (formControls.password.errors)" class="label-has-error"><i class="fas fa-exclamation-circle"></i> Veuillez saisir votre nouveau mot de passe</label>
            <label *ngIf="isSubmitted && mdpError" class="label-has-error" style="margin-bottom: 0%;"><i class="fas fa-exclamation-circle"></i>
              Ancien mot de passe et nouveau mot de passe correspondent</label>

          </div>
          <div class="form-group col-md-12 col-sm-12 col-12 remove-padding">
            <label for="confirmPassword" class="label labelChange">Confirmer Nouveau mot de passe <span style="color:red;">*</span></label>
            <input type="password" nbInput fullWidth id="confirmPassword"  class="form-control inputChange col-md-12 col-sm-12 col-12 remove-padding" placeholder="Veuillez confirm votre mot de passe"
                   formControlName="confirmPassword"  [ngClass]="{'has-error': isSubmitted && (formControls.confirmPassword.errors )}"
            >
            <label *ngIf="isSubmitted && (formControls.confirmPassword.errors)" class="label-has-error"><i class="fas fa-exclamation-circle"></i>  Veuillez Confirmer votre nouveau mot de passe</label>
          </div>
          <div class="form-group row" style="display: flex; justify-content: center;">
            <div >
              <button (click)="onreset()" nbButton status="basic" style="background-image: linear-gradient(to right,	#f45c44 , #db3853);color: #fff ;" [shape]="'round'">Annuler</button>
              <button type="submit" nbButton status="success" style=" border-color: white;" [shape]="'round'">Confirmer</button>

            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

</div>


