<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6"><span style="font-size: 20px;">Gestion Action Marketing</span></div>
      <div class="col-md-6"><span style="float: right"> Action Marketing&nbsp;&nbsp;</span></div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <button type="button" *ngIf="!affichefilter" style="float: right;background: #79008e !important;" nbButton
          [shape]="'round'" (click)="affichefilter=true"> Afficher les critéres de
          recherche</button>&nbsp;&nbsp;
        <button type="button" *ngIf="affichefilter" style="float: right" nbButton status="warning" [shape]="'round'"
          (click)="affichefilter=false"> Cacher les critères de
          recherche</button>&nbsp;&nbsp;
      </div>
    </div>
    <br>
    <fieldset *ngIf="affichefilter">
      <legend>Critéres de recherche</legend>

      <div class="row" style="padding-bottom: 10px;">


        <div class="col-sm-4 ">
          <label class="label">Canal du Diffusion</label><br>
          <nb-select fullWidth placeholder="Default" (selectedChange)="ChoisirCanalDiffusion($event)" [ngModel]="CanalChoisi"
            name="CanalDiffusion" >
            <nb-option value="default">Default </nb-option>
            <nb-option *ngFor="let canal of ListeCanalDiffusion" value="{{canal}}">{{canal}}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-sm-4 ">
          <label class="label">Statut de l'action</label><br>
          <nb-select fullWidth placeholder="Default" (selectedChange)="ChoisirStatutAction($event)"[ngModel]="StatutChoisi"
            name="StatutAction" >
            <nb-option value=-1>Default </nb-option>
            <nb-option *ngFor="let statut of ListeStatutAction" value="{{statut}}">{{getStatusAction(statut)}}
            </nb-option>
          </nb-select>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-4 ">
            <label class="label">Date Début</label><br>
            <input nbInput fullWidth  [nbDatepicker]="picker" [ngModel]="DateDebutChoisi">
            <nb-datepicker (dateChange)="ChoisirDateDebut($event)" #picker></nb-datepicker>
          </div>
          <div class="col-sm-4 ">
            <label class="label">Date Fin</label><br>
            <input nbInput fullWidth  [nbDatepicker]="picker1"  [ngModel]="DateFinChoisi">
            <nb-datepicker (dateChange)="ChoisirDateFin($event)" #picker1></nb-datepicker>
          </div>
          <div class="col-sm-4">
            <button nbButton type="button" status="danger" (click)="clean()"
              style="background: #ff3d71; border-color: white;float:right;  margin-top: 13px; " [shape]="'round'">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>

      
      
    </fieldset>


    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="" style="text-align: center; margin-top: 8px">
          <button type="button" (click)="ajouteraction()" style="float: right" class="icon-btn add-btn">
            <div class="add-icon"></div>
            <div class="btn-txt">Ajouter une Nouvelle Action Marketing</div>
          </button>
        </div>
      </div>
    </div>
    <p-table  [columns]="cols" [loading]="loading"  [rowsPerPageOptions]="[20,30,50]"  #dta [value]="Actions" [rows]="20" [paginator]="true" [responsive]="true" autoLayout ="true" [globalFilterFields]="['statut','dateCreation']">
      <ng-template pTemplate="caption">
        
          <div style="text-align: right">        
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Chercher" (input)="dta.filterGlobal($event.target.value, 'contains')" style="width:40%; min-height: 34px;">
          </div>
      </ng-template>  
        <ng-template pTemplate="header">
          <tr>
            <th>Media</th>
            <th>Titre</th>
            <th>Canal</th>
            <th>Periode de diffusion</th>
            <th>Date de Creation</th>
            
           
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Action>
          <tr >
            <td>

              <img *ngIf="Action.typeitem == 0 && Action.canal != 'SMS'"    [src]="Action.url" [alt]="Action.type" width="100" height="100" class="shadow-4" />
              <video preload="none" *ngIf="Action.typeitem == 1 && Action.canal != 'SMS'"  width="150" height="100" controls>
                <source [src]="Action.url" alt="Action.type">
              </video>
              <img *ngIf="Action.canal == 'SMS'" src="../../../assets/images/sms.png" width="100" height="100" alt="image sms"/>
            </td>
            <td>{{Action.titre}}</td>
            <td>{{Action.canal}}</td>
            <td> <span >{{Action.dateDebut |date:'dd/MM/yyyy'}}</span> - <span >{{Action.dateFin |date:'dd/MM/yyyy'}}</span></td>
            <td><span >{{Action.dateCreation |date:'dd/MM/yyyy'}}</span></td>
            
           
            <td>{{getStatusAction(Action.statut)}}</td>
          <td >
            <i  class="fa fa-eye cursor buttonround affiche3button" routerLink="detailsaction/{{Action.idActionMarketing}}" nbTooltip="Ouvrir action" nbTooltipPlacement="bottom"></i>
            <i  class="fa fa-calculator cursor buttonround affiche3button" routerLink="dashboardtest/{{Action.idActionMarketing}}" nbTooltip="Statistique" nbTooltipPlacement="bottom"></i>
          </td>
        </tr>
        </ng-template>
        <ng-template  pTemplate="emptymessage" let-Action>
          <tr>
              <td >
                  <div style="display: flex;
                  justify-content: center;">
                      La liste est vide
                  </div>
                  
              </td>
          </tr>
      </ng-template>
      </p-table>
    

  </nb-card-body>
</nb-card>