<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6"><span style="font-size: 20px;">Gestion Action Marketing</span></div>
           </div>
    </nb-card-header>
    <nb-card-body>
<nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
    <nb-option value="0">Default</nb-option>
    <nb-option value="1">Autre</nb-option>
  </nb-select> <input *ngIf="selectedItem=='1'" type="text" nbInput placeholder="Text field"><br>


<p-selectButton [options]="stateOptions" [(ngModel)]="value1"  optionLabel="label"  optionValue="value"></p-selectButton>
<div class="upload" *ngIf="value1==stateOptions[0]" >
<h5>choisissez votre image</h5>
    <p-fileUpload   chooseLabel="Select image" name="demo1" [fileLimit]="4" [showUploadButton]="false" (onSelect)="onUpload($event)"
            multiple="multiple" accept="image/*" maxFileSize="1000000">
    </p-fileUpload>
</div>

<div *ngIf="value1==stateOptions[1]">
    <h5>choisissez votre Video</h5>
    <p-fileUpload styleClass="upload"  name="demo2"  [fileLimit]="1" [showUploadButton]="false" (onSelect)="onUpload($event)"
            multiple="multiple" accept="video/*" maxFileSize="100000000">
    </p-fileUpload>
</div>
</nb-card-body>
</nb-card>