<div class="upload" >
    <h5>choisissez votre image</h5>
    <p-fileUpload chooseLabel="Choisir image" name="demo[]" [fileLimit]="1" [showUploadButton]="true"
     url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
    </p-fileUpload>
</div>
<h5>Advanced</h5>
<p-fileUpload name="demo[]"  (onUpload)="onUpload($event)"
        multiple="multiple" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
           
                <p *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</p>
           
        </ng-template>
</p-fileUpload>

<h5>Basic with Auto</h5>
<p-fileUpload #fubauto mode="basic" name="demo[]" url="http://localhost:8080/v1/Addtostorage/" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>

<img alt="sample" [src]="image1" />

<video width="400" controls>
        <source type="video/mp4" src="{{image2}}">
    </video>




    
<form>
        <div class="form-group">
            <fieldset class="form-group">
    
                <label>Upload Logo</label>
                {{imageError}}
                <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">
    
                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container>
                        <ng-template #elseTemplate>
    
                            <img src="./../../assets/placeholder.png" class="img-responsive">
                        </ng-template>
    
                    </div>
    
                </div>
            </fieldset>
        </div>
        <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
    </form>