<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6" >
                <span style="font-size: 20px;">Détail action Commerciale</span>
            </div>
            <div *ngIf="showmedia" class="col-md-6"><span style="float: right"> Statut :
                    {{getStatusAction(action.statut)}}&nbsp;&nbsp;</span></div>
        </div>
    </nb-card-header>
    <nb-card-body>

        <div class="row" *ngIf="showmedia  ">


            
            <div class="col-sm-3 media" >

                <img *ngIf="details.canaldifusion =='Mobile' && details.typefile == 0" [src]="details.urlmedia" alt="Aspect ratio image">
                <img *ngIf="details.canaldifusion =='SMS'" src="../../../assets/images/sms.png" alt="SMS">
                <video style="border: 5px solid rgb(236, 236, 236);" preload="none" *ngIf="details.typefile == 1 && details.canaldifusion != 'SMS'"  width="280" height="400" controls>
                    <source [src]="details.urlmedia" alt="Action.type">
                  </video>
            </div>

            <div *ngIf="!activer" class="col-sm-4 ">



               
                <p class="big">



                    <span class="bold">Titre </span><br>{{action.titre}} <br> <br>


                    <span class="bold">Desription </span> <br> {{action.description}}<br> <br>




                    <span class="bold">Fréquence </span> <br> Cette action va être affichée {{action.frequence}} fois par jour<br> <br>




                    <span class="bold">Catégorie du contenu </span> <br> {{details.sector}}<br> <br>

                  
                    <span class="bold">Période d'affichage </span> <br>Du <u>{{action.dateDebut |date:'dd/MM/yyyy'}}</u>
                    au <u>{{action.dateFin |date:'dd/MM/yyyy'}}</u><br> <br>





                </p>








            </div>


            <div *ngIf="!activer" class="col-sm-5 ">
                <div style="float: right" *ngIf="action.statut == 0">
                    <i  class="fa fa-check cursor buttonround editbutton" (click)="confirm()" nbTooltip="Confirmer" nbTooltipPlacement="bottom"></i>
                    <i  class="fas fa-edit cursor buttonround affiche1button" (click)="modifier()" nbTooltip="Modifier" nbTooltipPlacement="bottom"></i>
                    <i  class="fa fa-trash cursor buttonround deletebutton" (click)="delete()" nbTooltip="Supprimer" nbTooltipPlacement="bottom"></i>
                     </div>
                <p class="big"  *ngIf="details.canaldifusion !='SMS'">
                <span class="bold">Ville ciblé </span> <br> <span *ngFor="let ville of details.ville">{{ville}} </span><br> <br>

                <span class="bold">Sexe ciblé </span> <br> {{sexe(details.sexe)}}<br> <br>


                <span class="bold">Format d'affichage </span> <br> <span>Cette action va être affichée sous format d'une {{details.formataffichage}} </span><br> <br>



                <span class="bold">Canal de diffusion </span> <br>Cette action va être affichée sur {{details.canaldifusion}} <br> <br>

                <span class="bold">Lien Extern </span> <br> <span><a [href]="action.externUrl" target="_blank">Click</a> </span><br> <br>

            </p>

            <p class="big"  *ngIf="details.canaldifusion=='SMS'">
                <span class="bold">Ville ciblé </span> <br> <span *ngFor="let ville of details.ville">{{ville}} </span><br> <br>

                <span class="bold">Sexe ciblé </span> <br> {{sexe(details.sexe)}}<br> <br>


                <span class="bold">Message SMS </span> <br> <span>{{action.smsBody}} </span><br> <br>



                <span class="bold">Lien Extern </span> <br> <span><a [href]="action.externUrl" target="_blank">Click</a> </span><br> <br>

            </p>
            </div>











            <div *ngIf="activer" class="col-sm-9 ">
                <form [formGroup]="ActionForm" (ngSubmit)="submit()">
                   
                    <input type="text" nbInput placeholder="Titre" formControlName="titre">
                    <label *ngIf=" isSubmitted && (formControls.titre.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir un Titre </label>

                    <textarea fieldSize="medium" nbInput formControlName="Description"
                        placeholder="Description de votre Action Marketing"></textarea>
                    <label *ngIf=" isSubmitted && (formControls.Description.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir une Description </label>

                    <input type="number" nbInput placeholder="Frequence" formControlName="Frequence">
                    <label *ngIf=" isSubmitted && (formControls.Frequence.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir une frequence </label>

                    <nb-select placeholder="Secteur d'activité" fullWidth formControlName="SecteurActivite">
                        <nb-option *ngFor="let sctor of sectors" [value]="sctor.idCategorie">{{sctor.libelle}}
                        </nb-option>
                        <nb-option value="autre">Autre</nb-option>
                    </nb-select> <input *ngIf="SecteurActivite=='Autre'" type="text" nbInput
                        placeholder="Libellé Categorie">
                    <label *ngIf=" isSubmitted && (formControls.SecteurActivite.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir le Secteur </label>

                    <input nbInput [nbDatepicker]="datedeb" placeholder="Pick Date" formControlName="dateDebutPub">
                    <nb-datepicker #datedeb></nb-datepicker>
                    <label *ngIf=" isSubmitted && (formControls.dateDebutPub.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir la date du debut </label>

                    <input nbInput [nbDatepicker]="datefn" placeholder="Form Picker" formControlName="dateFinPub">
                    <nb-datepicker #datefn></nb-datepicker>
                    <label *ngIf=" isSubmitted && (formControls.dateFinPub.errors )" class="label-has-error">
                        <i class="fas fa-exclamation-circle"></i> Veuillez Saisir la date fin </label>
                   
                </form>
                <button nbButton outline (click)="modifier()" status="warning">Modifier</button>
                <button *ngIf="activer" type="submit" (click)="submit()" nbButton status="success" class="button-style"
                        style="float: right;" [shape]="'round'">Enregistrer</button>
            </div>


          
 

        </div>

    </nb-card-body>
</nb-card>