<ngx-bread-crumb></ngx-bread-crumb>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6" >
                <span style="font-size: 20px;">Détail action Commerciale</span>
            </div>
            <div *ngIf="showmedia" class="col-md-6"><span style="float: right;"> Statut :
                    {{getStatusAction(action.statut)}}&nbsp;&nbsp;</span></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        
        <form [formGroup]="ActionForm" (ngSubmit)="submit()">
        <div class="row" *ngIf="showmedia" >


            
            <div class="col-sm-3 media" >

                <img *ngIf="details.canaldifusion =='Mobile' && details.typefile == 0" [src]="details.urlmedia" alt="Aspect ratio image">
                <img *ngIf="details.canaldifusion =='SMS'" src="../../../assets/images/sms.png" alt="SMS">
                <video style="border: 5px solid rgb(236, 236, 236);" preload="none" *ngIf="details.typefile == 1 && details.canaldifusion != 'SMS'"  width="280" height="400" controls>
                    <source [src]="details.urlmedia" alt="Action.type">
                  </video>
            </div>
            
<div class="col-sm-9" >
    <div class="row" style="text-align:center;">
        
        <div class="col-sm-4" style="height: 400px;border-right: 1px solid grey;">
          <h6>Informations Générales</h6><br><br>
          <div style="text-align: left;">
            <p class="big">



              <span class="bold">Titre </span><br>{{action.titre}} 
             
              <br> <br>


              <span class="bold">Description </span> <br> {{action.description}}<br> <br>

              <span class="bold">Catégorie du contenu </span> <br> {{details.sector}}<br> <br>

                  
              <span class="bold">Période d'affichage </span> <br>Du <u *ngIf="!activer">{{action.dateDebut |date:'dd/MM/yyyy'}}</u>

              <input style="width: 80%;"fullWidth nbInput [nbDatepicker]="datedeb" placeholder="La Date de  Debut de l'action" formControlName="dateDebutPub" *ngIf="activer">
                      <nb-datepicker [filter]="filterFn" #datedeb></nb-datepicker>
                      <br> <label *ngIf=" isSubmitted && (formControls.dateDebutPub.errors)" class="label-has-error">
                          <i class="fas fa-exclamation-circle"></i> Veuillez Saisir la date du debut </label>

              au <u *ngIf="!activer">{{action.dateFin |date:'dd/MM/yyyy'}}</u> <input style="width: 82%;" *ngIf="activer" nbInput [nbDatepicker]="datefn" fullWidth placeholder="La Date de Fin de l'action" formControlName="dateFinPub">
              <nb-datepicker [filter]="filterFn"  #datefn></nb-datepicker>
              <br>  <label *ngIf=" isSubmitted && (formControls.dateFinPub.errors)" class="label-has-error">
                  <i class="fas fa-exclamation-circle"></i> Veuillez Saisir la date fin que doit être supérieur aux date du début de la diffusion </label>
                  <br> <br>





          </p>
          </div>

        </div>
        <div class="col-sm-4" style="border-right: 1px solid grey;">
          <h6>Détails de l'Audience</h6><br><br>
          <p class="big" style="text-align: left;">
            <span class="bold">Ville ciblé </span> <br> <span *ngFor="let ville of details.ville">{{ville}} </span><br> <br>
            <span class="bold">Secteur Ciblé </span> <br> <span *ngFor="let Secteur of details.secteurCible">{{Secteur}} </span><br> <br>

            <span class="bold">Age ciblé </span> <br>{{details.ageMin}}-{{details.ageMax}}<br> <br>

            <span class="bold">Sexe ciblé </span> <br> {{sexe(details.sexe)}}<br> <br>
            </p>
        </div>
      

      <div class="col-sm-4">
        
            <h6>Informations de Diffusion</h6><br><br>

            <p class="big"  style="text-align: left;">

              <span class="bold" *ngIf="details.canaldifusion =='SMS'">Message SMS </span> <br> <span>{{action.smsBody}} </span><br> <br>

              <span class="bold">Fréquence </span><br><span *ngIf="activer"> Cette action va être affichée <input style="width: 30%;" type="number" nbInput placeholder="Frequence" formControlName="Frequence"> fois par jour
                <label *ngIf=" isSubmitted && (formControls.Frequence.errors )" class="label-has-error">
                    <i class="fas fa-exclamation-circle"></i> Veuillez Saisir une frequence </label></span> <span *ngIf="!activer">Cette action va être affichée {{action.frequence}} fois par jour </span> <br> <br>

             



              <span class="bold">Lien Extern </span> <br> <span><a [href]="action.externUrl" target="_blank">Click</a> </span><br> <br>

          </p>
</div>
        </div>
    
</div>






        </div>
        <div style="float: right;" *ngIf="showmedia" >
          <div *ngIf="action.statut == 1 ">
          <button type="button" *ngIf="!activer"  style="float: right;width: 130px;" nbButton status="danger" [shape]="'round'"
          (click)="delete()">supprimer</button>
          <button type="submit" *ngIf="activer"  style="float: right;width: 130px;" nbButton status="success" [shape]="'round'"
          >Valider</button>
          <button type="button" *ngIf="activer"  style="float: right;width: 130px;" nbButton status="danger" [shape]="'round'"
          (click)="modifier()">Anuuler</button>
          <button type="button" *ngIf="!activer" style="float: right;width: 130px;" nbButton status="warning" [shape]="'round'"
          (click)="modifier()">Modifier</button>
   
           </div>
           
    </div>
     </form>
     <button type="button" *ngIf="!activer"  style="float: right ; background: #79008e !important;width: 130px;" nbButton  [shape]="'round'"
     (click)="Parametrer()">Parametrer</button>

       
    </nb-card-body>
</nb-card>