<div class="row">
        <div class="col-md-6 offset-md-3">
          <nb-card accent="info" style="height: 400px; width: 650px; margin-top: 70px;">
            <nb-card-header><h3 style="text-align: center">Réinitiaiser votre mot de passe</h3></nb-card-header>
            <nb-card-body>
  
              <form [formGroup]="resetPasswordform" (ngSubmit)="onUpdate()">
               
                <div class="form-group">
      
                      <label for="password" class="label labelChange">Nmdp</label>
                      <input type="password" nbInput fullWidth  class="form-control inputChange" id="password" name="password" placeholder="Nmdp"
                             minlength="5" maxlength="50" formControlName="password"
                             [ngClass]="{'has-error': isSubmitted && (formControls.password.errors )}"
                             (keypress)="onShowPS()"
                             required>
                      <ng2-password-strength-bar [passwordToCheck]="resetPasswordform.value.password" [barColors]="myColors"
                                                 [barLabel]="barLabel"
                                                 [strengthLabels]="strengthLabels"
                                                 (onStrengthChanged)="strengthChanged($event)"
                                                 *ngIf="isShow"
                                                  class="labelChange">
                      </ng2-password-strength-bar>
      
      
                </div>
                <div class="form-group">
                  <label for="confirmPassword" class="label labelChange">confirmemdp</label>
                  <input type="password" nbInput fullWidth id="confirmPassword"  class="form-control inputChange" placeholder="confirmemdp"
                         formControlName="confirmPassword"  [ngClass]="{'has-error': isSubmitted && (formControls.confirmPassword.errors )}">
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button type="submit" nbButton status="success" style="background-image: linear-gradient(to right, #26E69E , #02A866); margin-right: 60px; margin-top: 15px; " [shape]="'round'">Confirmer</button>
                  </div>
                </div>
              </form>
            </nb-card-body>
          </nb-card>
        </div>
      
      </div>
      
      
      